@font-face {
  font-family: 'Apercu';
  src: url('https://www-static.wework.com/apercu/apercu_regular_webfont.woff2')
    format('woff');
}

@font-face {
  font-family: 'Apercu';
  font-weight: bold;
  src: url('https://www-static.wework.com/apercu/apercu_bold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Apercu';
  font-weight: 300;
  src: url('https://www-static.wework.com/apercu/apercu_light.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('https://www-static.wework.com/apercu/apercu-mono-webfont.woff2')
    format('woff2');
}
